html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.nav a {
    color: #fff;
}

.nav li {
    display:inline-block;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 40px;
    list-style: none;

}

.nav a:hover {
    color: red;
}
.nav {
    background-color: #000;
    height: 84px;
    line-height: 5;
    text-align: center;
}

body {
    height: 100%;
    width: 100%;
    background-color: #191919;
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    font-family: 'Lato', sans-serif;
    margin: 0 0;
    padding: 0 0;

}

#big-jumbo {
    padding-left: 0;
    padding-right: 0;
}

.big-pic {
    height: 100%;
    width: 100%;
    margin: 0 0;
}

.jumbotron h2 {
    position: absolute;
    top:100px;
    left: 100px;
    width: 100%;
    font-family: 'Lato', sans-serif;

    
}
.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    height: 70px;
    width: 70px;
}

.continue-btn {
    position:absolute;
    top: 300px;
    left: 200px;
    width: 150px;;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #f5f5f5;
    padding: 0 25px;
    height: 62px;
    background-color: #343434;
    border-radius: 10px;
    border: 0;
}
.continue-btn:hover {
    background-color: #0d0d0d;
}

.notice {
    margin-top 100px;
}

.search-bar {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    margin-top: 30px;
}

form {
    text-align: center;
}

table {
    background-color: #fff;
}

a:hover{
    text-decoration: none;
}

thead {
    font-weight:bold;
    background-color: teal;
}

.date-posted {
    width: 150px;
}

.active-view {
    background-color: #67676d;
    border: 0;
}

.inactive-view {
    
}

.test-p {
    background-color: #fff;
    color: #000;
}

.gallery-listing {
    position:relative;
    height: 30%;
    width: 30%;
    max-width: 400px;
    max-height: 400px;
    display:inline-block;
    margin-left: 2%;
    margin-bottom: 20px;
}

.gallery-listing:hover {
    opacity: 0.7;
}


.gallery-pic {
    height: 250px;
    width: 100%;
}

.gallery-price {
    position: absolute;
    top:0;
    right:0;
    background-color: aliceblue;
    color: red;
    width: 20%;
    height: 10%;
    text-align: center;
    font-weight: bold;
}

.gallery-title {
    background-color: #fff;
    text-align: center;
    margin-top:10px;
}

.gallery-date {
    position: absolute;
    top:0;
    left:0;
    background-color: aliceblue;
    color: red;
    width: 15%;
    height: 10%;
    text-align: center;
    font-weight: bold;
}

.empty-user {
    width: 500px;
    height: 500px;
}

table {
    display:inline
}

td {
    width: 700px;
}
tbody {
    background-color: #fff;
}

.avatar-img {
    margin-right: 30px;
    height: 100%;
    max-height: 500px;
    width:100%;
    max-width: 350px;
    min-width:300px;
}

.modal {
display: block;
}

.thead-sort {
}

.thead-sort:hover {
    cursor: pointer;
    background-color: #06b2b2;
}

#video-background {
    /*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  background-size: cover;
}

tbody {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: antiquewhite;
}

.image-display {
    height: 400px;
    width: 25%;
    background-color: #fff;
}

.new-listing-desc {
    max-width: 500px;
    height: 200px;
}

.new-listing-info {
    max-width: 700px;
    margin: 0 auto;
   /* color: #fff;*/
}

.checkboxes {
    text-align: left;
}

.sign-in-block {
    max-width: 700px;
    background-color: teal;
    margin-top: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sign-in-block h2 {
    color: #000;
}

.gallery-listing:hover {
    cursor:pointer;
}

.new-listing-info {
    padding-left: 10px;
    padding-right: 10px;
}

#description {
    color: #000;
    min-width: 650px;
    min-height: 100px;
}

.one-listing {
    background-color: #fff;
    color: #000;
    padding-left: 20px;
    padding-right: 40px;
    text-align: center;
}

.one-listing-pic {
    height: 400px;
    width:100%;
}

.listing-display {
    position:relative;
    height: 100%;
    width: 100%;
    display:inline-block;
    margin-bottom: 20px;
}

.description-par {
    font-size: 14px;
    text-align: left;
}

h3 {
    font-weight: bold;
}




.quick-facts td {
    border: 1px solid #fff;
}

.quick-facts-head {
    font-weight: bold;
    font-size: 18px;
}

.quick-facts tbody tr:hover {
    opacity: 0.9;
}

.td-first {
    background-color: teal;
}

.td-second {
    background-color: #191919;
    color: #fff;
}

.custom-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 750px;
}

.address-span {
    font-size: 14px;
}

.add-change-btn {
    float:right;
}

/*.account-info {
    float:left;
} */

#signed-in-nav-li a {
    background-color: blue;
}

#signed-in-nav-li a:hover {
    color: red;
}

.face-btn {
    width: 500px;
    height: 100px;
    background-color: teal;
    border: teal;
}

.new-listing-info input {
    margin: 0 auto;
}

#price, #totalBeds, #totalBaths, #sqFootage {
    max-width: 150px;
}

.log-in-first {
    background-color: red;
    color: black;
    font-weight: bold;
}

.form-small {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.new-listing-contain {
    background-color: teal;
    max-width: 750px;
}

.new-listing-contain .help-block {
    color: #000;
    font-style: italic;
}

.gallery-contain {
    text-align: center;
}

.thumb-img {
    height: 125px;
    width: 125px;
}

.thumb-td {
    width: 150px;
}

.thumb-contain table {
    margin: 0 auto;
}

.thumb-other-td {
    width: 100%;
}

.thumb-contain thead td {
    text-align:center;
}

.star-pic {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
}

.star-pic:hover {
    cursor: pointer;
}

.price-span {
    border: solid 1px black;
}

.curr-listings-thumb {
}

.nav-menu-lines {
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
}

.nav-menu-lines:hover {
    cursor: pointer;
}


/* ---------------------------------MEDIA QUERIES------------------------------- */


@media screen and (max-width:1360px) {
    .gallery-listing {
        width: 45%;
        height: 45%;
    }
    .nav li {
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .account-tbl {
        width: 80%;
        min-width: 320px;
    }
    
    .avatar-img {
        margin-left: 200px;
    }
    
    .sign-in-block {
        width: 90%;
        min-width: 320px;
    }
}


@media screen and (max-width:959px) {
    .nav li {
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .search-bar {
        margin: 0 auto;
        width: 90%;
    }
    
    .main-body {
        min-width: 400px;
    }
    
    #signed-in-nav-li {
        float:right;
    }
    
    .gallery-listing {
        width: 65%;
        height: 65%;
        min-width: 320px;
    }
    
    #description {
        min-width: 200px;
        width: 90%;
    }
    
    .custom-container {
        width: 90%;
        min-width: 320px;
    }
    
    .one-listing-pic {
        height: 350px;
    }
}

@media screen and (max-width:640px) {
    .nav li {
        display: block;
    }
    .nav {
        height: 350px;
    }
    
    #signed-in-nav-li {
        float: none;
    }
    
    .jumbotron h2 {
        width: 70%;
        left: 50px;
        min-width: 300px;
    }
    
    .avatar-img {
        margin-left: 20px;
    }
    
    .account-tbl td {
        max-width: 320px;
    }
    
    .face-btn {
        width: 200px;
    }
    
    .one-listing-pic {
        height: 280px;
    }
    
    .continue-btn {
    top: 400px;
    left: 100px;
    }
    
}