<div class="container" ng-controller="accountCtrl">
    
    <br/>
    <img src="{{$parent.currentUser.avatar}}" class="avatar-img" align="left">
    
    
    <table class="table">
        <thead>
            <td>Name</td>
        </thead>
        <tbody>
            <tr>
                <td class="account-info">{{$parent.currentUser.name}} <button class="add-change-btn" ng-click="nameInputShowing = !nameInputShowing">Add/Change Display Name</button>
                </br>
                </br>
            <div class="newInfoInput" ng-show="(nameInputShowing)">
                <input type="text" ng-model="newName" placeholder="Enter new name here...">
                <button ng-click="$parent.updateName(newName)">Submit</button>
            </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="table">
        <thead>
            <td>Username</td>
        </thead>
        <tbody>
            <tr>
                <td class="account-info">{{users[0].username}} <button class="add-change-btn">Add/Change Username</button></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="table">
        <thead>
            <td>Contact Email</td>
        </thead>
        <tbody>
            <tr>
                <td class="account-info">{{$parent.currentUser.contactEmail}} <button class="add-change-btn">Add/Change Email</button></td>
               <!-- <td>{{account.users[0].contactEmail}}</td> -->
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="table">
        <thead>
            <td>Contact #</td>
        </thead>
        <tbody>
            <tr>
                <td class="account-info">{{$parent.currentUser.contactPhone}} <button class="add-change-btn">Add/Change Contact #</button></td>
               <!-- <td>{{account.users[0].contactEmail}}</td> -->
            </tr>
        </tbody>
    </table>
    
</div>




<!-- 


***make a div for whenthe user is NOT logged in...
    <img src="emptyMan.jpg"  class="empty-user" >



-->