<div class="custom-container one-listing" ng-controller="homeCtrl" ng-init="getCurrentListing()">
    <div class="listing-display">
    </br>
        <h3>${{currListing.price}} / {{currListing.beds}}br  -- {{currListing.title}} <span class="address-span">({{currListing.address}})</span></h3>
    </br>
        <div> <img class="one-listing-pic" src="{{currListing.picture}}"/> </div>
    </br>
    <p class="description-par">
        {{currListing.description}}
    </p>

</br>
    <table class="quick-facts">
        <thead class="quick-facts-head">
            <span class="">Quick Facts</span>
        </thead>
        <tbody>
          <tr>
            <td class="td-first">Monthly:</td>
            <td class="td-second">${{currListing.price}}</td>
          </tr>

          <tr>
            <td class="td-first">Beds:</td>
            <td class="td-second">{{currListing.beds}}</td>
          </tr>

          <tr>
            <td class="td-first">Baths:</td>
            <td class="td-second">{{currListing.baths}}</td>
          </tr>
            
          <tr>
            <td class="td-first">Washer/Dryer in unit:</td>
            <td class="td-second">{{currListing.wd}}</td>
          </tr>
            
          <tr>
            <td class="td-first">Smoking Allowed:</td>
            <td class="td-second">{{currListing.noSmoke}}</td>
          </tr>

          <tr>
            <td class="td-first">Pets Allowed:</td>
            <td class="td-second">{{currListing.pets}}</td>
          </tr>

          <tr>
            <td class="td-first">Pets Allowed:</td>
            <td class="td-second">{{currListing.pets}}</td>
          </tr>
            
          <tr>
            <td class="td-first">BYU approved:</td>
            <td class="td-second">{{currListing.byuApproved}}</td>
          </tr>


        </tbody>
    </table>
    </div>

</div>