<div class="container">
    <form>
        <input class="search-bar" placeholder="Search all listings...">
    </form>
</div>

</br>
</br>
<div class="container">
    
    <table class="table table-hover">
        <thead>
            Current Listings
        </thead>
        <tbody>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
            </tr>
                        <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
            </tr>
                        <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
            </tr>
                        <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
            </tr>
        
        
        </tbody>
    
    </table>

</div>