<div class="main-body" ng-controller="homeCtrl">
  <div class="container">
    <form>
        <input class="search-bar" placeholder="Search all listings..." ng-model="searchListings" >
    </form>
    <br/>
    <form>
        <button ng-class="listView" ng-click="listView='active-view'; galleryView='inactive-view'">List View</button>
        <button ng-class="galleryView" ng-click="galleryView='active-view'; listView='inactive-view'">Gallery View</button>       <!-- *** EVERY TIME THIS BUTTON IS CLICKED, CALL $scope.resizePic() function, to resize all pics before displaying them! -->
    </form>
</div>

</br>
</br>





<!--   LIST VIEW   -->

  <div class="container" ng-show="listView === 'active-view'">
    
    <table class="table table-hover">
        <thead>
            <td class="thead-sort" ng-click="changeSortType('postNumber')">Date Posted</td>
            <td class="thead-sort" ng-click="changeSortType('title')">Current Listings</td>
            <td class="thead-sort" ng-click="changeSortType('beds')">Beds</td>
            <td class="thead-sort" ng-click="changeSortType('price')">Price ($)/mo</td>
        </thead>
        <tbody>
            <a ui-sref="currentListing"><tr ng-repeat="listing in listings | filter: searchListings | orderBy: sortType" ng-click="currListing=getCurrListing(listing.postNumber)">
                <td class="date-posted">{{listing.datePosted}}</td>
                <td>{{listing.title}}</td>
                <td>{{listing.beds}}</td>
                <td>${{listing.price | number:0}}</td>
            </tr></a>
        </tbody>
    
    </table>

  </div>





<!-- GALLERY VIEW -->

  <div class="container" ng-show="galleryView === 'active-view'">

    <a ui-sref="currentListing"><div class="gallery-listing" ng-repeat="listing in listings | filter: searchListings | orderBy: '-postNumber'" ng-click="currListing=getCurrListing(listing.postNumber)">
        <img class="gallery-pic" src="{{listing.picture}}">
        <span class="gallery-price">${{listing.price}}/mo</span>
        <span class="gallery-date">{{listing.datePosted}}</span>
        <p class="gallery-title">{{listing.title}}</p>
  </div></a>
</div>
</div>