<div class="jumbotron" id="big-jumbo" ng-controller="introCtrl">
    <video src="../Stockholmnight.-HD.mp4.mp4" autoplay loop id="video-background" muted>
        <!--<source src="../Stockholmnight.-HD.mp4.mp4" type="video/mp4"> -->
    </video>
                <h2>Welcome to Provo Housing Hub,<br/>  <br/>
                Your solution to hassle-free house-hunting.
            </h2>
                <a ui-sref="home">
                <button class="continue-btn">
                     Continue
                </button>
            </a>
</div>