<div class="container" ng-controller="homeCtrl">

</br>

<form class="new-listing-info">
<p class="help-block">Please enter all required info for your listing, in order to provide other viewers with the best information possible:</p>
  <div class="form-group">
    <label for="postTitle">*Post Title</label>
    <input type="text" class="form-control" id="postTitle" placeholder="Post title..." ng-model="titleIn">
  </div>
  <div class="form-group">
    <label for="description">*Description:</label>
    <textarea id="description" ng-model="descIn"></textarea>
  </div>
  <div class="form-group">
    <label for="newAddress">*Street Address</label>
    <input type="text" class="form-control" id="newAddress" placeholder="Street Address, Apartment #...e.g. 555 W 555 S #5" ng-model="addressIn">
  </div>
  <div class="form-group">
    <label for="price">*Price ($USD)</label>
    <input type="text" class="form-control" id="price" placeholder="Price ($USD)..." ng-model="priceIn">
  </div>
  <div class="form-group">
    <label for="totalBeds">*Total Bedrooms</label>
    <input type="text" class="form-control" id="totalBeds" placeholder="Total # of bedrooms..." ng-model="bedsIn">
  </div>
  <div class="form-group">
    <label for="totalBaths">*Total Bathrooms</label>
    <input type="text" class="form-control" id="totalBaths" placeholder="Total # of bathrooms..." ng-model="bathsIn">
  </div>
  <div class="form-group">
    <label for="sqFootage">Square footage</label>
    <input type="text" class="form-control" id="sqFootage" placeholder="Total square footage (number)..." ng-model="sqFootageIn">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image for listing</label>
    <input type="file" images="images" accept="image/*" fileread id="exampleInputFile" ng-model="imageIn">
    <p class="help-block">Choose an image as the main image for your post. Please note that any vulgar or inappropriate images maybe be removed at any time, without question, by the admin.</p>
  </div>
<div class="checkboxes">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="petsIn"> Pets ok?
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="wdIn"> Washer/Dryer
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="noSmokeIn"> Smoking allowed
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="byuIn"> BYU approved
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="parkingIn"> Parking available?
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="furnishedIn"> Furnished
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="emailIn"> Check here for your contact EMAIL to be displayed on the listing
    </label>
  </div>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="phoneIn"> Check here for your contact PHONE NUMBER to be displayed on the listing
    </label>
  </div>
</div>

</br>
</br>

  <a ui-sref="home"><button type="submit" class="btn btn-default" ng-click="newListing(titleIn, descIn, addressIn, priceIn, bedsIn, bathsIn, sqFootageIn, imageIn, petsIn, emailIn, phoneIn, wdIn, noSmokeIn, byuIn, parkingIn, furnishedIn)">Submit</button></a>
</form>

</br>
</br>
</br>

</div>