<div class="container" ng-controller="newListingCtrl">
  <!--  <form>
        <input label="Title" placeholder="Title...">
        </br>
        <div class="image-display">
    
        </div>
        <button class="upload-image-btn">Upload image</button>
        Address:
        <input label="Address1" placeholder="Street Address, Apt #...">
        <textarea class="new-listing-desc"></textarea>
        <input label="Price" placeholder="Price/mo ($USD)...">
        <input label="Num-beds" placeholder="Number of bedrooms...">
        <input label="Num-baths" placeholder="Number of bathrooms...">
        <input label="sq-ft" placeholder="Sq. footage...">

    </form>
-->

<form>
  <div class="form-group">
    <label for="postTitle">Post Title</label>
    <input type="text" class="form-control" id="PostTitle" placeholder="Post title...">
  </div>
  <div class="form-group">
    <label for="newAddress">Password</label>
    <input type="text" class="form-control" id="newAddress" placeholder="Street Address, Apartment #...e.g. 555 W 555 S #5">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image for listing</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Choose an image as the main image for your post. Please note that any vulgar or inappropriate images maybe be removed at any time, without question, by the admin.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Pets ok?
    </label>
  </div>
    
      <div class="checkbox">
    <label>
      <input type="checkbox"> Check here for your contact EMAIL to be displayed on the listing
    </label>
  </div>
    
          <div class="checkbox">
    <label>
      <input type="checkbox"> Check here for your contact PHONE NUMBER to be displayed on the listing
    </label>
  </div>
    
          <div class="checkbox">
    <label>
      <input type="checkbox"> Washer/Dryer
    </label>
  </div>
    
          <div class="checkbox">
    <label>
      <input type="checkbox"> No smoking
    </label>
  </div>
    
          <div class="checkbox">
    <label>
      <input type="checkbox"> BYU approved
    </label>
  </div>
    
      <div class="checkbox">
    <label>
      <input type="checkbox"> Parking available?
    </label>
  </div>
    
          <div class="checkbox">
    <label>
      <input type="checkbox"> Furnished
    </label>
  </div>
    
    
  <button type="submit" class="btn btn-default">Submit</button>
</form>



</div>